@import "../styles/colors.css";
@import "tailwindcss";

@theme {
  --color-bg: var(--color-bg);
  --color-primary: var(--color-primary);
  --color-white: var(--color-white);
  --color-disable: var(--color-disable);
}
